/*
Grid Container Simplifying Propterties
    - grid-auto-row: 000px (allows the system to automatically add a new row to the container, if necessary)
    - grid-auto-column: 000px (allows the system to automatically add a new column to the container, if necessary)
-------------------- both of them only works if the respective grid-template isn't setted to "auto"-----------------------

    - place-items: stretch center (shorthand for align-items and justify-items) 
    - place-content: start end (shorthand for align-content and justify-content) 
    - grid-template: 100px 100px 100px / auto auto auto (shorthand for grid-template-rows and grid-template-columns) 
*/

div.container{
    border: 2px solid black;
    display: grid;
    grid-template-columns: auto auto auto; 
    grid-template-rows: 100px 100px 100px;
    gap: 5px;
    grid-auto-rows: 100px;
}
div.item{
    border: 2px solid red;
    margin: 10px;
}