*{
    padding: 0;
    margin: 0;
    margin-bottom: -4px;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
img{
    width: 100vw;
}
a#linkedin {
    display: block;
    background-color: #0a7fb99a;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}
a#linkedin:hover{
    background-color: #0A7EB9;
}
a#github {
    display: block;
    background-color: #5c5c5c;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}
a#github:hover{
    background-color: black;
}